body {
    background-color: #2C2F33;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
#content {
    text-align: center;
}
#content2 {
    text-align: center;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.button {
    background-color: #7289DA;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 8px;
    width: 222px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #8089DA;
}
#user-av {
    width: 80px;
    margin: auto;
    height: 80px;
    display: block;
    border-radius: 40px;
}
#serwery {
    display: block;
    flex-wrap: wrap;
    width: 50%;
    margin-right: 20%;
    float: left;
}
.serwer {
    background-color: #3d3d3d;
    height: 50px;
    margin-bottom: 10px;
}
.serwer img {
    width: 50px;
    margin: auto;
    height: 50px;
    display: block;
    border-radius: 40px;
    float: left;
}
.serwer p {
    display: inline;
    margin-right: 40px;
    font-size: 20px;
}
.serwer-za {
    display: block;
    font-size: 15px;
}
#staty {
    float: left;
}
.cls {
    clear: both;
}
li {
    display: inline;
    padding: 10px 10px 10px 10px;
}
#menu {
    float: right;
}
#title {
    float: left;
    padding: 10px 10px 10px 10px;
}
h3 {
    margin: 0;
}
footer {
    font-size: 11px;
}
.menuitem {
    cursor: pointer;
}
.menuitem:hover {
    background-color: #7289DA;
    border-radius: 4px;
}
.menuitem:click {
    background-color: #8089DA;
}
th {
    padding: 5px;
    border: 1px solid #777777;
}